* {
  box-sizing: border-box;
}

body {
  background-image: url("birthday\ photo\ 2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

.countdown-container {
  display: flex;
}

.big-text {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-e1 {
  text-align: center;
}
